"*":
  _dartlang:
    _errorsInitialized: true
    _errorsInitialized2: true
    _firstRun: true
    _initialized: true
    _initializedSymLinks: true
    _version: "0.6.0"
  "atom-autocomplete-php":
    autoloadPaths: [
      "vendor/autoload.php"
      "autoload.php"
      "app/autoload.php"
    ]
    binPhp: "/usr/local/bin/php"
  "atom-beautify":
    general:
      _analyticsUserId: "af5372d2-e4a0-4029-a597-e7b439652cbc"
    js:
      beautify_on_save: true
      default_beautifier: "ESLint Fixer"
      disabled: true
    json:
      beautify_on_save: true
    scss:
      beautify_on_save: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
  "atom-material-ui":
    altCmdPalette: true
    depth: true
  "atom-oss-license":
    copyright: false
    name: "David Nuñez"
  "atom-package-deps":
    ignored: []
  "atom-typescript": {}
  "auto-copyright":
    owner: "David Nuñez"
    template: "Copyright (c) %y %o. All Rights Reserved."
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin"
    erlangHome: "/usr/local/bin"
  "autocomplete-plus":
    autoActivationDelay: 100
    confirmCompletion: "tab and enter"
    navigateCompletions: "ctrl-p,ctrl-n"
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "atom-html-preview"
      "terminal"
      "tool-bar-main"
      "nuclide"
      "git-diff-details"
      "linter-foodcritic"
      "linter-php"
      "linter-erb"
      "linter-rubocop"
      "linter-haml"
      "whitespace"
      "linter"
      "linter-ui-default"
      "minimap-linter"
      "prettier-atom"
    ]
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "gruvbox"
    ]
    titleBar: "hidden"
  dartlang:
    sdkLocation: "/usr/local/opt/dart/libexec"
    showOutlineView: false
  drupal:
    fileTypesPhp: "module,install,inc,test,profile"
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  emmet:
    useEmmetComments: false
  erlangHome: "/usr/local/bin"
  "exception-reporting":
    userId: "0e7912b8-29ee-7f56-32d7-0e2753f84b14"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "flow-ide":
    showUncovered: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    general:
      _analyticsUserId: "82c2517f-fe34-4a33-ac1d-41928c7dfdfb"
  "go-plus":
    panel:
      currentHeight: "34.48967889908257vh"
  "ide-flowtype":
    customFlowPath: {}
    tryFlowBin: true
  "ide-php": {}
  "ide-typescript":
    javascriptSupport: false
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-erlc":
    erlcExecutablePath: "/usr/local/bin/erlc"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
  "linter-flow":
    executablePath: "node_modules/.bin/flow"
  "linter-foodcritic":
    executablePath: "/usr/local/bin/foodcritic"
    foodcriticExecutablePath: "/usr/local/bin/foodcritic"
  "linter-htmlhint": {}
  "linter-javac":
    javaExecutablePath: "/usr/bin/javac"
  "linter-php":
    executablePath: "/usr/local/bin/php"
    phpExecutablePath: "/usr/local/bin/php"
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-phpmd": {}
  "linter-rubocop":
    command: "/Users/dnunez/.rbenv/shims/rubocop"
  "linter-ruby": {}
  "linter-sass-lint":
    configFile: "~/.sass-lint.yml"
  "linter-scalac":
    scalacExecutablePath: "/usr/local/bin/scalac"
  "linter-scss-lint":
    executablePath: "/Users/dnunez/.rbenv/shims/scss-lint"
  "linter-shellcheck":
    enableNotice: true
  "linter-tidy":
    grammarScopes: [
      "text.html.basic"
      "text.html.handlebars"
    ]
  "linter-twig": {}
  "linter-ui-default":
    panelHeight: 60
    showProviderName: true
    tooltipFollows: "Keyboard"
  "livestyle-atom":
    analyzer:
      notify: false
      notifyCampaign: false
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  metrics:
    userId: "b5c0345a84c76bbecb3ce6f0e553529fe718a8e2"
  minimap:
    autoToggle: false
    displayMinimapOnLeft: true
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "notational-velocity":
    directory: "/Users/dnunez/Dropbox/Notes"
  nuclide:
    installRecommendedPackages: true
    "nuclide-arcanist": {}
    "nuclide-debugger-hhvm":
      phpRuntimePath: "/usr/local/bin/php"
    "nuclide-diagnostics-store": {}
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-home":
      showHome: false
  "one-dark-ui": {}
  "one-light-ui": {}
  "php-debug":
    GutterPosition: "Left"
    PathMaps: [
      "/var/www/html;/Users/dnunez/GitHub/test-craftcms"
    ]
    currentPanelMode: "bottom"
  "php-integrator-base":
    phpCommand: "/usr/local/bin/php"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      parser: "flow"
      singleQuote: true
      trailingComma: "es5"
    useEslint: true
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "syntax-settings":
    source:
      php:
        editorSettings:
          tabLength: 4
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "terminal-plus":
    core:
      shell: "/usr/local/bin/fish"
    style:
      fontFamily: "Source Code Pro"
      fontSize: "14"
  "toggle-quotes": {}
  "tool-bar":
    position: "Left"
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: false
  "vim-mode": {}
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  "web-browser": {}
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    autoIndentOnPaste: true
    normalizeIndentOnPaste: "true"
".editorconfig.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".gfm.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".html.php.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".nginx.source":
  editor:
    tabLength: 4
".text.twig.xml":
  editor:
    normalizeIndentOnPaste: "true"
    tabLength: 4
".text.xml":
  editor:
    normalizeIndentOnPaste: "true"
    tabLength: 4
".text.xml.xsl":
  editor:
    normalizeIndentOnPaste: "true"
    tabLength: 4
_dartlang:
  _errorsInitialized: true
  _errorsInitialized2: true
  _initialized: true
  _initializedSymLinks: true
  _version: "0.4.15"
"autocomplete-erlang":
  elixirPath: "/usr/local/bin/erl"
dartlang:
  formatOnSave: true
  sdkLocation: "/usr/local/opt/dart/libexec"
rspec:
  command: "/Users/dnunez/.rbenv/shims/bundle exec rspec"
"ruby-test":
  rspecAllCommand: "~/.rbenv/shims/bundle exec rspec --color"
  rspecFileCommand: "~/.rbenv/shims/bundle exec rspec --color {relative_path}"
  rspecSingleCommand: "~/.rbenv/shims/bundle exec rspec --color {relative_path}:{line_number}"
  specFramework: "rspec"
